{%- extends 'nbconvert/templates/sepal-ui-base/index.html.j2' -%}
{% block notebook_execute %}

{%- set kernel_id = kernel_start(nb) -%}
<script id="jupyter-config-data" type="application/json">
        {
            "baseUrl": "{{resources.base_url}}",
            "kernelId": "{{kernel_id}}"
        }
    </script>
{% endblock notebook_execute %}

{% block cell_generator %}
<script>
    app.title = "{{nb_title}}"

    var voila_process = function (cell_index, cell_count) {
        const percentage = Math.round((cell_index / cell_count) * 100);
        const loading_text = `Loading the app: ${percentage}...%`
        app.loading_text = loading_text
        app.loadingPercentage = percentage
        app.debug = true
    }
</script>
{% for cell in cell_generator(nb, kernel_id) %}
<script>
    voila_process({{ loop.index }}, {{ cell_count }});
</script>

{% if cell.cell_type == 'code' %}
{% for output in cell.outputs %}
{% if output.output_type == 'error' %}
{# Create a console log #}
<script>
    if (!window['voilaDebugMessages']) {
        window.voilaDebugMessages = [];
    }
    window.voilaDebugMessages.push({
        cell: {{ cell.execution_count }},
        traceback: [
        {% for line in output.traceback %}
    `{{ line | ansi2html | replace('`', '\\`') }}`,
        {% endfor %}
                        ],
    evalue: `{{ output.ename }}: {{ output.evalue | ansi2html | replace('`', '\\`') }}`
                        })
    console.log(window['voilaDebugMessages'])
</script>
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endblock cell_generator %}